.home{
  height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.homewall{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5rem;
}

.home img{
    height: 23rem;
    margin-top: -3rem;
    animation: floatImage  4s ease-in-out infinite;
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.btcbalance{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    min-height: 300px;
    min-width: 400px;
    border-radius: 3rem;
  line-height: 0.8rem;
}

.btcbalance p{
    color:#283048 ;
}
.live p{
    color: white;
}

.btnmine{
    padding-top: 0.8rem;
}

.btnmine button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 2rem;
    border: 0;
    background-color: rgb(29, 29, 223);
    color: white;
    border-radius: 2rem;
    gap: 1rem;
transition: 0.3s ease-in-out;
cursor: pointer;
}

button .axe{
font-size: 1.3rem;

}

.price {
    padding-left: 10px; /* Adjust the value as needed */color: rgb(107, 221, 107);
}

.btnmine button:hover{
    transform: scale(1.1);
background-color: white;
color: rgb(29, 29, 223);
border: 2px solid rgb(29, 29, 223);
} 


.btcbalance h2{
    font-size: 3rem;
font-family: sans-serif;
color: #283048;
}

.live{
    text-align: center;
    background-color: #283048 ;
color: white;
border-radius: 3rem;
width: 12rem;
}
button.Mining {
    background-color: green;
  }
 .xloader{
    
 }


@media only screen and (max-width: 1010px) {
    .homewall{
        display: flex;
        flex-direction: column;
        padding-bottom: 6rem;
        padding-top: 37rem;
       
    }
   

    .home img{
        height: 15rem;
       
       }

       .btcbalance{
        min-height: 300px;
        min-width: 350px;
     }
     .btcbalance h2{
        font-size: 1.5rem;
     }

     
.btcbalance p{
    color:#283048 ;
}
.live p{
    color: white;
font-size: 0.9rem;
}

}


@media only screen and (max-width: 930px) {
    .home{
        display: flex;
        flex-direction: column;
        padding-bottom: 6rem;
        }
.homewall{
padding-top: 37rem;
}

    .home img{
        height: 15rem;
         }

       .btcbalance{
        min-height: 300px;
        min-width: 350px;
     }
     .btcbalance h2{
        font-size: 1.5rem;
     }

     
.btcbalance p{
    color:#283048 ;
}
.live p{
    color: white;
font-size: 0.9rem;
}

}

@media only screen and (max-width: 900px) {
    .home img{
        height: 11rem;
       
      
    }
    .homewall{
        padding-top:49rem;
        }
    .home{ 
         padding-bottom: 30rem;
    }

}

@media only screen and (max-width: 806px) {
    .homewall{
        padding-top: 48rem;
        }
   
}

@media only screen and (max-width: 600px) {
    .home{
        display: flex;
        flex-direction: column;
        padding-bottom: 22rem;
    }
   
    .home img{
        height: 11rem;
     
       }

       .homewall{
        padding-top: 50rem;
        }

       .btcbalance{
        min-height: 300px;
        min-width: 270px;
     }
}

@media only screen and (max-width: 500px) {
    .home{
      
      
    }
    .homewall{
        padding-top: 27rem;
        }

}

@media only screen and (max-width: 330px) {
    .home{
      
      
    }

    .homewall{
        padding-top: 45rem;
        }
}
