.withdrawsection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.withdrawwalls{
    height: 30rem;
    width: 45rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
   padding-bottom: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
}

.minimumwithdraw{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 35rem;
    height: 4rem;
    margin-top: 3rem;
    background-color: #283048;
    border-radius: 1rem;
    color: white;
    gap: 16rem;
    overflow: hidden;
}

.minimumwithdraw h5{
    margin-left: -1rem;
}

.btcwithdraw{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 3rem;
    width: 9rem;
    overflow: hidden;
    border-radius: 1rem;
}

.enterinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: #283048;
    color: white;
    height: 13.6rem;
    width: 19rem;
    border-radius: 1rem;
}

.enterbtc, .enterwallet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.enterbtc input, .enterwallet input{
    text-align: center;
    height: 1.8rem;
    width: 14rem;
    border-radius: 1rem;
    border: 1px solid;
}

.btnwithdraw{
display: flex;
flex-direction: column;
gap: 0.5rem;
color: #283048;
}

.btnwithdraw button{
    color: white;
    height: 2rem;
    background-color: blue;
    border: 0px ;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btnwithdraw button:hover{
    background-color: white;
    color: black;
    border: 1px solid blue;
}

@media only screen and (max-width: 1000px){
    .minimumwithdraw{
      
        width: 22rem;
       gap: 2rem;
       
    }

    .withdrawwalls{
       
        width: 40rem;
               margin-top: 18rem;
    }
}

@media only screen and (max-width: 600px){
    .withdrawwalls{
       
        width: 30rem;
        height: 30rem;
               margin-top: 18rem;
               font-size: 0.9rem;
    }
    
}

@media only screen and (max-width: 500px){
    .withdrawwalls{
        font-size: 0.9rem;
   
        width: 33rem;
               margin-top: 3rem;
    }
    .minimumwithdraw{
      
        width: 20rem;
       
    }
}

@media only screen and (max-width: 330px){
    .withdrawwalls{
        font-size: 0.6rem;
   
        width: 40rem;
               margin-top: 3rem;
  
            }
    .minimumwithdraw{
      
        width: 18rem;
       
    }
    .withdrawsection{
        height: 119vh;
    }

    .enterinfo{
        width: 17rem;
       }
    
}